<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BaeSystems.TestStations.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <runtime>
        <legacyUnhandledExceptionPolicy enabled="1"/>
    </runtime>
    <applicationSettings>
        <BaeSystems.TestStations.Properties.Settings>
            <setting name="PluginDir" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>.</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="LoggingDir" serializeAs="String">
                <value>C:\TMS\Logs</value>
            </setting>
            <setting name="ConfigDir" serializeAs="String">
                <value>.\Config</value>
            </setting>
            <setting name="SpecDir" serializeAs="String">
                <value>.\DbSpec</value>
            </setting>
        </BaeSystems.TestStations.Properties.Settings>
    </applicationSettings>
</configuration>
